<!-- Mobile Navigation -->
<div id="mobile-nav">
    <ul>
        <% for (var i = 0; i < tabs.length; i++) { %>
        	<% if (tabs[i].active) { %>
        		<li><a href="/<%= tabs[i].name.toLowerCase() %>" data-id="<%= tabs[i].name.toLowerCase() %>" class="active"><%= tabs[i].name %></a></li>
        	<% } else { %>
        		<li><a href="/<%= tabs[i].name.toLowerCase() %>" data-id="<%= tabs[i].name.toLowerCase() %>"><%= tabs[i].name %></a></li>
        	<% } %>
        <% } %>
    </ul>
</div>

<!-- Navigation -->
<nav>
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo no-style">Charlie Potter.</a>
        <ul class="center hide-on-med-and-down">
            <% for (var i = 0; i < tabs.length; i++) { %>
            	<% if (tabs[i].active) { %>
            		<li><a href="/<%= tabs[i].name.toLowerCase() %>" data-id="<%= tabs[i].name.toLowerCase() %>" class="active"><%= tabs[i].name %></a></li>
            	<% } else { %>
            		<li><a href="/<%= tabs[i].name.toLowerCase() %>" data-id="<%= tabs[i].name.toLowerCase() %>"><%= tabs[i].name %></a></li>
            	<% } %>
            <% } %>
        </ul>
        <ul class="right hide-on-med-and-down">
            <li><a href="mailto:charlesedwardpotter@gmail.com" class="btn blue">Email Me</a></li>
        </ul>
    </div>
</nav>

